@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  transition: background .5s ease;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #e4e5f1;
  --second-bg-color: #fafafa;
  --text-color: black;
  --main-color: #6555E7;
  --bg-port: #6555E7;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.active-mode {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --bg-port: black;
}



section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: var(--bg-color);
}

#modes{

  font-size: 3rem;
  color: var(--text-color);
  padding: 1rem;
  border-radius: 50%; 
  
  
}
#modes:active{
  background: rgb(0, 0, 0, .2);
}


.header.sticky {
  border-bottom: 0.1rem solid rgb(0, 0, 0, 0.2);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 5.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content{
  margin-right: 2rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.home .home-img img {
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 1.3rem 0.2rem var(--main-color);
}


.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 25vw;
  border-radius: 50%;
  margin: 3rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.skills h2 {
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s;
}

.skills-container .skills-box:hover {
  border-color: var(--main-color);
  transform: scale(1.05);
}

.skills-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.skills-box h3 {
  font-size: 2.6rem;
}

.skills-box p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

.portfolio {
  background: var(--bg-color);
}

.portfolio h2 {
  margin-bottom: 3rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}


.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), var(--bg-port));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 5rem;
  transform: translateY(100%);
  transition: 0.5s ease;
  color: white;
}

.portfolio-box div.translated {
  transform: translateY(0%);
}

/* .portfolio-box:hover .portfolio-layer{
  transform: translateY(100%);
} */


.portfolio-layer h4 {
  font-size: 3rem;
}
.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  color: var(--second-bg-color);
  font-size: 2rem;
}

.arrows {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  display: none;
  color: white;
    font-size: 5rem;
}

.arrows:active {
  background: rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-contact a {
  margin: 0.8rem;
}

.footer-contact i {
  font-size: 4rem;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }

}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .skills {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    background: var(--bg-color);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    border-top: 0.1em solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 2rem 0;
  }

  .home {
    flex-direction: column-reverse;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home .home-img img {
    width: 70vw;
    margin: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .skills h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  
  .arrows {
    display: inherit;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
